
body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Cairo', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

header {

  background: #DB7913;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: auto;
}
@media (mix-width: 570px) {
header .container  {
     flex-direction: column;
  }
}
header img {
  max-width: 70px;
}
header  ul{
  display: flex;
  justify-content: space-evenly;
}

header ul li a {
  color: white;
  padding: 5px 10px;
}

h1 {
	text-align: center;
  font-size: 24px;
}
/* Start search box  */
.search-box {
	text-align: center;
	margin: 15px auto 0px;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.search-box > * {
border: 2px solid #d4b5b5;
    padding: 10px;
    height: 100px;
      
  box-shadow: 8px 7px 8px #00000061;
  border-radius: 10px;
}

.btn-form {
	margin: 15px auto 0px;
}
.btn-form input {
	color: white;
	border: none;
	outline: none;
	padding: 10px 15px;
	margin: auto;
	border-radius: 6px;
}
.btn-form input:nth-child(1) {
	background: #007BFF;
}
.btn-form input:nth-child(2) {
	background-color: #585F66;
}

input[type="text"] {
	padding: 0.375rem 0.75rem;
    font-size: 16px;
    line-height: 16px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 input[type="text"]:focus {
	    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
 }

/* End search form  */

/* Start table result  */
.table .details {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px;
}
@media (max-width: 992px) {
  .table .details {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 576px) {
  .table .details {
    grid-template-columns: auto;
  }
}
.table ul{
	padding: 10px 10px;
	border-radius: 10px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border:  2px solid #ddd;
}

.table ul li {
	display: flex;
	border-bottom: 2px solid #ddd;
	justify-content: space-between;
	align-items: center;
	min-width: 260px;
	font-size: 16px;
	gap: 15px;
}
.table ul li span {
  display: inline-block;
}
.table ul li span:nth-child(2) {
  text-align: center;
}
.table ul li:hover span:first-child,
.table ul li:hover {
  background-color: #ddd;
}
.details.active {
  display: none;
}

svg  {
  width: 20px;
  fill: blue;
}

/* Start table  */
.name-student-table {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.name-student-table h2 {
    font-size: 16px;
}
.name-student-table .show-details {
  color: blue;
  background: #eee;
  width: fit-content;
  height: fit-content;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
/* End table result  */

